<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>PET Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container" align="center">
    <hr>
    <h1>WELCOME TO PET MANAGEMENT SYSTEM</h1>
    <hr>

    <a th:href = "@{/pet/index}" class = "btn btn-primary btn-sm mb-3">View PET List</a>
    <hr>
    <a th:href = "@{/pet/search}" class = "btn btn-primary btn-sm mb-3">Search From PET List</a>

</div>
</body>
</html>